.todo-list {
  width: 50vw;
}

@media screen and (max-width: 900px) {
  .todo-list {
    width: 100%;
  }
}

.description-input-wrapper {
  display: flex;
}

.btn-search {
  margin: 0;
  width: 5rem;
}
